/* 87A2FB

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  box-shadow: 0 4px 6px -6px #222;
}

span h4 {
  margin-left: 6px;
  font-weight: bold;
}

.logo {
  font-size: 1.4rem;
}

.navbar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  margin-left: 5%;
  list-style-type: none;
}
ul li {
  display: inline-block;
  margin: 0 12px;
}

a {
  text-decoration: none;
}

.actions {
  margin-right: 5%;
}

.actions button {
  padding: 12px 22px;
  margin: 0 8px;
  background-color: transparent;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  box-shadow: 0px 0px 1px 0px #999;
}

nav {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100%;
}

ul {
  list-style-type: none;
  flex: 60%;
  margin-left: 12px;
  display: flex;
  justify-content: space-between;
}

ul li {
  display: inline-block;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover {
  color: #222;
}

/* hamburger */

div.ham i {
  display: none;
  font-size: 1.5rem;
}

/* navbar buttons */

.actions {
  flex: 40%;
  display: flex;

  justify-content: flex-end;
  align-items: center;
}

.actions button {
  height: 40px;
  padding: 8px 28px;
  margin-right: 12px;
  font-weight: 800;
  border-radius: 8px;
  border-style: none;
}

.actions button.btn-1 {
  background: white;
  color: #3c5dca;
  border: 1px solid #b6bac7;
}
.actions button.btn-2 {
  background: #3c5dca;
  color: #fff;
}

.actions button.btn-1:hover {
  background-color: #3c5dca;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.actions button.btn-2:hover {
  background-color: #0a298e;
  transition: 0.3s;
  cursor: pointer;
}

/* navbar items styling */

li#rent {
  background: #afbef0;
  padding: 4px 8px;
  border-radius: 2px;
}

li#rent a {
  color: #3c5dca;
}

/* media queries */

@media screen and (max-width: 768px) {
  nav {
    padding: 16px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }

  div.ham i {
    display: inline-block;
  }

  .actions {
    justify-content: flex-start;
  }

  ul {
    display: none;
    /* margin-top: 5rem;
    width: 100%; */
  }

  /* .actions {
    margin-top: 2rem;
  } */

  /* li#rent {
      padding: 0px 30px;
    } */
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  ul li {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  ul li {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  ul li {
    font-size: 1.2rem;
  }
}
